* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-right: auto;
  padding: 0 10px;
  overflow: hidden;
}

.left-sidebar {
    align-items: center;
    align-items: start;
    position: sticky;
    margin-left: 130px;
    width: 20%;
}

.twitter-logo img {
    height: 52px;
    width: 52px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.left-sidebar ul .nav-items {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 60px;
}

.nav-items li {
    padding: 20px;
    list-style-type: none;
    font-size: 28px;
    font-weight: 700;
}

.nav-items h2 {
    font-weight: 400;
    font-size: 28px;
    font-stretch: 100%;
    margin-left: 10px;
    margin-bottom: 2px;
}

.nav-items:hover {
    background-color: #dbdddc;
    border-radius: 30px;
    color: black;
}

.tweet-button {
    margin-left: 50px;
    padding: 10px 50px;
    width: 250px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    background: #1d9bf0;
    cursor: pointer;
}

.tweet-button:hover {
    background: rgb(28, 161, 241, .5);
}

.profile-actions {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0 0.6rem;
}

.profile-actions:hover {
    cursor: pointer;
}

.profile-actions img {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 100%;
}
 
.profile-link {
    margin-left: 1px;
}

.profile-link .full-name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1px;
}

.profile-link .user-name {
    color: #39393a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    font-size: 18px;
}

.profile-actions li {
    list-style-type: none;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}
